{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <h1>Todo List</h1> 
    <div>Add a new todo item: 
        <form action="{{ url_for('add') }}" method="POST"> 
            <input type="text" name="todoitem"> 
            <input type="submit" value="Add Item" class="button"> 
        </form> 
    </div> 
    <div> 
        <h2>Incomplete Items</h2> 
        <ul> 
            {% for todo in incomplete %} 
            <li style="font-size: 30pt" class='mark'>{{ todo.text }} <a href="{{ url_for('complete', id=todo.id) }}">Mark As Complete</a></li> 
            {% endfor %}     
        </ul> 
        <h2>Completed Items</h2> 
        <ul> 
            {% for todo in complete %} 
            <li style="font-size: 30pt">{{ todo.text }}</li> 
            {% endfor %} 
        </ul> 
    </div> 
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}